*{
  margin: 0;
  padding: 0;
}

body{
  width: 100%;
  height: 100vh;
}

#root{
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
}

#root > *{
  outline: 1px solid red;
}