.shuffleContainer1{
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    height: 100%;
}

.gridDimensions{
    width: 30px;
}

.shuffledImage{
    width: 200px;
    height: 200px;
}